<ion-header >
  <ion-list >
    <ion-toolbar > <!-- Ajustamos la altura de la barra -->
      <div class="col-md-12 col-sm-12">
        <div>
          <img src="../../../assets/img-header/Sol.jpg" alt="" height="40rem" width="50rem" style=" float: right; ">
        </div>
      </div>

      <ion-buttons slot="start" >
        <ion-menu-button menu="first" color="primary"></ion-menu-button>
      </ion-buttons>

      <ion-title slot="start" style=" margin-left: -1rem; font-size: 16px; color:#7c7878"> <!-- Ajustamos márgenes y tamaño de texto -->
        {{pageName}}
      </ion-title>
    </ion-toolbar>
  </ion-list>
</ion-header>
